workflows/polymarket-monitor.json
{
  "name": "Polymarket Wallet Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "id": "schedule-trigger"
    },
    {
      "parameters": {
        "command": "python C:\\Users\\Yordan\\Desktop\\polymarketbot\\monitor.py 0x21504551452f4c4b67a1fbee6ba743a611cdba16"
      },
      "name": "Execute Python Monitor",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300],
      "id": "execute-python"
    },
    {
      "parameters": {
        "jsCode": "// Parse the Python script output\nconst output = $input.item.json.stdout || '';\n\n// Extract JSON from output (last JSON block)\nconst jsonMatch = output.match(/\\{[\\s\\S]*\"hasNewActivity\"[\\s\\S]*\\}/g);\n\nif (!jsonMatch) {\n  return {\n    json: {\n      hasNewActivity: false,\n      count: 0,\n      activities: [],\n      error: 'Could not parse output'\n    }\n  };\n}\n\nconst result = JSON.parse(jsonMatch[jsonMatch.length - 1]);\nreturn { json: result };"
      },
      "name": "Parse Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300],
      "id": "parse-output"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasNewActivity }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Has New Activity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300],
      "id": "check-activity"
    },
    {
      "parameters": {
        "jsCode": "// Format activities for Telegram\nconst activities = $json.activities || [];\n\nif (activities.length === 0) {\n  return [];\n}\n\n// Format each activity as a Telegram message\nreturn activities.map(activity => {\n  const emoji = activity.side === 'BUY' ? '🟢' : '🔴';\n  const action = activity.side || 'UNKNOWN';\n  \n  const title = activity.title || 'Unknown Market';\n  const outcome = activity.outcome || 'Unknown';\n  const size = parseFloat(activity.size || 0).toLocaleString('en-US', { maximumFractionDigits: 2 });\n  const price = parseFloat(activity.price || 0).toFixed(4);\n  const usdcSize = parseFloat(activity.usdcSize || 0).toFixed(2);\n  \n  const user = activity.pseudonym || activity.name || 'Anonymous';\n  const wallet = activity.proxyWallet || 'Unknown';\n  const walletShort = wallet.length > 10 ? `${wallet.substring(0, 6)}...${wallet.substring(wallet.length - 4)}` : wallet;\n  \n  const timestamp = new Date(activity.timestamp * 1000).toISOString().replace('T', ' ').substring(0, 19);\n  \n  const eventSlug = activity.eventSlug || '';\n  const marketUrl = eventSlug ? `https://polymarket.com/event/${eventSlug}` : '';\n  \n  let message = `${emoji} *NEW ${action}*\\n\\n`;\n  message += `👤 *User:* ${user}\\n`;\n  message += `💼 *Wallet:* \\`${walletShort}\\`\\n\\n`;\n  message += `📊 *Market:* ${title}\\n`;\n  message += `🎯 *Outcome:* ${outcome}\\n`;\n  message += `📈 *Size:* ${size} shares @ $${price}\\n`;\n  message += `💵 *Value:* $${usdcSize} USDC\\n\\n`;\n  \n  if (marketUrl) {\n    message += `🔗 [View Market](${marketUrl})\\n`;\n  }\n  \n  message += `⏰ ${timestamp} UTC`;\n  \n  return {\n    json: {\n      message: message,\n      transactionHash: activity.transactionHash\n    }\n  };\n});"
      },
      "name": "Format Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "id": "format-messages"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": false
        }
      },
      "name": "Send Telegram Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 300],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Telegram Bot"
        }
      },
      "id": "send-telegram"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Execute Python Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Python Monitor": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Has New Activity?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Activity?": {
      "main": [
        [
          {
            "node": "Format Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Messages": {
      "main": [
        [
          {
            "node": "Send Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-14T00:00:00.000Z",
  "versionId": "1"
}
